<%- include ('../partials/header') %>

<body class="pro_body">
<div class="container  h-100  d-flex justify-content-center">
    <div class="jumbotron my-auto text-center pro_jumbo">
        <h1>Welcome   <%= user %></h1>
        <h2>You have successfully signed in!</h2>
        <hr>
        <a class="btn btn-outline-secondary" href="/auth/logout">log-out</a>
    </div>
</div>
<%- include ('../partials/footer') %>